<!DOCTYPE html>
<html manifest="manifest.appcache">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="pragma" content="no-cache">
		<title>Contact profile</title>

		<!-- BOOTZILLA -->
		<link rel="stylesheet" type="text/css" href="/bootzilla/css/package.css">
		<script type="text/javascript" src="/bootzilla/js/responsive.js"></script>

		<!-- CONTACTS -->
		<link rel="stylesheet" type="text/css" href="../style/Contacts.css">

		<script>
			var host = document.location.host;
			var domain = host.replace(/(^[\w\d]+\.)?([\w\d]+\.[a-z]+)/, '$2');
			var src = 'http://' + domain + '/webapi.js';
			document.write('<script src="' + src + '"><\/script>');
		</script>

	</head>
	<body class="app-contacts">
		<section class="view view-contact-profile">
			<div class="vw-inner">
				<header class="vw-header">
					<ul class="pull-right stack vw-actions">
						<li><a href="#" title="Edit contact"><i class="i-edit">Edit</i></a></li>
					</ul>
					<p class="vw-back pull-left"><a href="#" title="Back"><i class="i-back">Back</i></a></p>
					<h1>Mark Afeinto</h1>
				</header>

				<article class="vw-body">
					<div class="vw-bdy-inner">
						<figure	><img src="dummy/320x75.jpg" alt="Ismale González"></figure>
						<nav class="tabs">
							<ul class="grid">
								<li class="active"><a href="#"><i class="i-profile">Information</i></a></li>
								<li><a href="#"><i class="i-log">Feed</i></a></li>
							</ul>
						</nav>
					</div>
				</article>

				<nav class="vw-nav">
					<ul class="grid">
						<li><a href="#" title="Log"><i class="i-log">Communications Log</i></a></li>
						<li><a href="#" title="Contacts"><i class="i-contacts">Contacts</i></a></li>
						<li><a href="#" title="Messages"><i class="i-messages">Messages</i></a></li>
						<li><a href="#" title="Apps"><i class="i-grid">Apps</i></a></li>
					</ul>
				</nav>
			</div>
		</section>
	</body>
</html>